	<div class="span4">
		<h2>Navigation Bar</h2>
 
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, in, neque, asperiores id fuga dicta voluptatem incidunt labore culpa cumque quasi accusantium quisquam voluptatum! Incidunt, doloribus eum. Tempore, quod, assumenda.</p>
	</div>
  <div class="span8">
  	  <h1>About</h1>
				<p>
				  <%= link_to "One Month Rails", "http://onemonthrails.com" %>
				  is a project to teach 
				  <%= link_to "Ruby on Rails", "http://rubyonrails.org" %>
				  in one month. This is the sample application.
				</p>
  </div>

