 	<div class="span4">
		<h2>Navigation Bar</h2>
 
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, in, neque, asperiores id fuga dicta voluptatem incidunt labore culpa cumque quasi accusantium quisquam voluptatum! Incidunt, doloribus eum. Tempore, quod, assumenda.</p>
	</div>
  <div class="span8">
  	  <% if user_signed_in? %>
	<div class="hero-unit">
		<h1>You are Logged In!</h1>
		<p>
		  You've found the home page for the
		  <%= link_to "One Month Rails", "http://onemonthrails.com" %>
		  application.
		</p>
		<p>
		  
		</p>
	</div>
<% else %>

		<div class="hero-unit">
			<h1>Welcome to One Month Rails!</h1>
			<p>
			  You've found the home page for the
			  <%= link_to "One Month Rails", "http://onemonthrails.com" %>
			  application.
			</p>
			<p>
			  <%= link_to "Sign Up Now!", new_user_registration_path , class: "btn btn-large btn-primary" %>
			</p>
		</div>

<% end %>
  </div>



